<div class="bg-blue-700 text-white py-1">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center text-sm">
            <div>
                <i class="fas fa-phone-alt mr-2"></i>Hotline: 1800 1166
            </div>
            <div class="flex space-x-4">
                <% if (isAuthenticated) { %>
                    <span class="hover:text-yellow-300">
                        <i class="fas fa-user mr-1"></i>
                        <%= user.email %>
                    </span>
                    <a href="#" class="logout-btn hover:text-yellow-300">
                        <i class="fas fa-sign-out-alt mr-1"></i>Đăng xuất
                    </a>
                <% } else { %>
                    <a href="#" class="login-btn hover:text-yellow-300">
                        <i class="fas fa-user mr-1"></i>Đăng nhập
                    </a>
                    <a href="#" class="register-btn hover:text-yellow-300">
                        <i class="fas fa-key mr-1"></i>Đăng ký
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</div>
