<div class="group/sub relative">
    <a href="#"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-50 hover:text-blue-600 flex justify-between items-center">
        Dịch vụ Internet
        <i class="fas fa-chevron-right text-xs"></i>
    </a>
    <div class="absolute left-full top-0 bg-white shadow-lg rounded-lg py-2 w-64 hidden group-hover/sub:block ml-1">
        <a href="https://digishop.vnpt.vn/internet-tv"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-50 hover:text-blue-600">
            1. Các gói cước
        </a>
        <a href="https://digishop.vnpt.vn/internet-tv"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-50 hover:text-blue-600">
            2. Giá cước
        </a>
    </div>
</div>
